<p>This application is not supposed to look pretty. It's supposed to allow easy manual testing of Pusher's core functionality using any of the available javascript versions.</p>

<ul>
  <% VERSIONS.each do |version| %>
  <li><a href="/<%= version %>"><%= version %></a></li>
  <% end %>
</ul>