<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Pusher test</title>

  <!-- Stylesheets -->

  <!-- Javascript -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>

<body>
  <h1><a href='/'>Pusher test application</a></h1>
  
  <%= yield %>
</body>
</html>
